{% extends 'base.html' %}

{% block content %}

<h1>Список заказов</h1>
<ul>
{% for order in orders %}
    <h1>{{ order.customer }} заказал: </h1>
    {{ order.products }} по цене:
    {{ order.all_price }}
{% endfor %}
</ul>
<!--    <h1>Имя товара: {{pr.products.name}}</h1>-->
<!--    <h1>Описание: {{pr.products.descriptions}}</h1>-->
<!--    <h1>Цена: {{pr.price}}</h1>-->
<!--    <h1>Дата добавления: {{pr.date}}</h1>-->
<!--    <h1>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h1>-->
    {% if pr.photo %}
    <p><img class="img-article-left" src="{{pr.photo.url}}"></p>
    {% endif %}


{% endblock %}
